<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Google stt singlish demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css">
</head>
<body>
<h1>Google stt singlish demo</h1>
<span>STT result:</span>
<textarea id="print" name="print" rows="5" cols="70"></textarea>

<div id="controls">
    <button onclick="toggleRecording()" class="mic_btn"><img src="{{ url_for('static', filename = 'images/microphone_idle.png') }}" width=128 height=128 id="mic">
    </button>
    <button id="recordButton">Record</button>
    <button id="pauseButton" disabled>Pause</button>
    <button id="stopButton" disabled>Stop</button>
    <button id="fileUploadButton" class="uploadButton hidden">FileUpload</button>
</div>
<ol id="recordingsList"></ol>

<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="{{ url_for('static', filename = 'js/app.js') }}" type="text/javascript"></script>

</body>
</html>